body {
  padding-top: 5rem;
  background-image: url('https://coolbackgrounds.io/images/backgrounds/index/aqua-d9b59c89.png');
}
.cont {
  display: block;
  margin-right: 0;
  margin-left: 0;
}
.navbar {
  margin-bottom: 20px;
}

