body {
  padding-top: 5rem;
  background-image: url('https://coolbackgrounds.io/images/backgrounds/index/aqua-d9b59c89.png');
}
input{
  padding: 10px;
  height: 50px;
}
textarea{
  padding: 20px;
  height: 100px;
}
button{
  padding: 10px;
  height: 50px;
  position: absolute;
  margin-top:50px;
}
fieldset{
  margin-bottom:20px;
}

