body {
  padding-top: 5rem;
  background-image: url('https://coolbackgrounds.io/images/backgrounds/index/aqua-d9b59c89.png');
}
textarea{
  padding: 20px;
  height: 100px;
}
button{
  padding: 10px;
  height: 50px;
  position: absolute;
  margin-top:50px;
}
.navbar {
  margin-bottom: 20px;
}
@media only screen and (max-width: 600px) {
 .button {
    position:static;
  }
}
@media only screen and (max-width: 600px) {
 .textarea {
    height: 100%
  }
}
.cont {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

